@import url(https://fonts.googleapis.com/css?family=Roboto);
/*My hum... body.. yeah.. */
body {
  background-color: #444444;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.page-title{
  position: absolute;
  color: white;
  top: 55px;
  left: 15%;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.507),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}

#cannotCheckout {
    position: absolute;;
    display:block;
    right:15%;
    transform:translate(135px, 0);
    bottom:60px;
    display:none;
    z-index:100;
    text-align:center;
    padding: 5px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight:500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color:  rgba(145, 25, 25, 0.753);
}

#cannotCheckout:after {
    content: '';
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    top: 60px;
    left: 70%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: rgba(145, 25, 25, 0.753);
    border-top: 0;
    transform:rotate(180deg);
}

/* The card */
.card {
  position: relative;
  height: 500px;
  width: 1000px;
  top: -30px;
  margin: 200px auto;
  background-color: #FFF;
  border: none;
  border-radius:3px;
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail .left{
  float: left;
  position: absolute;
  left: 220px;
  top: 220px;
  height: 400px;
  width: 500px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 10px 10px 70px 0px rgba(90, 90, 90, 0.75);
  /* overflow: hidden; */
}

img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 510px;
  margin-right: 3px;
  height: 520px;
}

h1 {
  padding-top: 20px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.separator {
  margin-top: 10px;
  text-align: left;
  width: 450px;
  border: 0.5px solid #c3c3c394;
}

p {
  text-align: justify;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}


h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
  text-shadow: rgba(212, 212, 212, 0.5) 0px 3px 3px;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
}

li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 2%;
  bottom:-35px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: rgb(253, 94, 46);
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50%;
  /* -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75); */
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  z-index:10;
  cursor: pointer;
}

.card #totalsSection{
  position:relative;
  width:auto;
  top: 10px;
  display:inline-block;
  color:#4B4B4B;
  left:6px;
}

#allOrders .itemName {
    position:relative;
    display:inline-block;
    width:200px; /* This sets the offset of where the count will be */
    overflow:hidden;
    overflow-y:no-content;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#allOrders {
    /*
        If the user has lots of orders, there will be a scroll bar for the items
        Rather than the items being continually displayed
    */
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
    background-color: rgb(245, 245, 245);
    margin-right: 25px;
}

#allOrders .price {
    position:relative;
    display:inline-block;
    margin-left:45px;
    margin-right:0;
    text-align:right;
}

#totalsSection #subTextPrice {
    /* The subTotal text was off a bit*/
    left:4px;
}

#allOrders .count {
    position:relative;
    display:inline-block;
    right:1220px;
    width:40px; /* Also sets the offset of where the price will be*/
}

#totalsSection .text {
    display:inline-block;
    width:285px; /* Defines the position of the price element ('shoves it over')*/
    white-space:nowrap;
    overflow:hidden;
    text-overflow:clip;
}

.right p {
    line-height:0.5;
    height:15px;
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
}

#allOrders .itemName {
    top:5px; /* Remove offset*/
}

#allOrders .addToCart, #allOrders .removeFromCart {
    position:relative;
    left:15px;
}

#totalsSection .price {
    position:relative;
    display:inline-block;
}

#allOrders .specialInstructions {
    margin-left:15px;
    right:5%;
    display:inline-block;
    color:darkgray;
    width:254px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

#totalsSection #totalAfterCoupon {
    display:inline-block;
    margin-left:15px;
    color:green;
}

.cartDividor {
  text-align: left;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: white;
}

.card #CouponTitle {
  position:relative;
  top: -70px;
  /* left:8px; */
  /* margin-top:-20px; */
  margin-bottom: 15px;
  font-size: 16.5px;
  visibility:hidden;
  color:#3a3a3a;
  /* top:-55px !important; */
}

.card #CouponTitle #Coupon {
  color:rgb(47, 141, 47);
}

.card #tipSection {
  position: relative;
  bottom: 245px;
  left: 510px;
  visibility: hidden;
  text-align:left;
  /* padding:5px; */
  background-color: rgba(29, 29, 29, 0.589);
  /* border: none; */
  border: solid rgba(92, 173, 54, 0.548) 2px;
  color: white;
  padding:10px;
  font-weight: normal;
  border-radius:3px;
  width: 150px;
  z-index: 200;
}

.card #tipSection #tipTitle {
  text-align:center;
  /* width: 150px; */
  /* margin: auto; */
  background-color:rgba(114, 194, 68, 0.753);
  border-radius:5px;
  font-size:18px;
  padding: 2px;
  position: relative;
  /* top: 50px; */
}

.card #tipSection:after {
	content: '';
  position: absolute;
  margin-top: -10px;
	margin-left: -10px;
	left: 0;
	top: 90%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color:rgba(92, 173, 54, 0.548);
	border-left: 0;
}

.box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.confirmation {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  margin-top: 150px;

  animation-name: zoom;
  animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .confirmation {
    width: 100%;
  }
}

.box button {
  color: white; /* Text color */
  background-color: transparent; /* Remove background color */
  border: 2px solid white; /* Border thickness, line style, and color */
  border-radius: 5px; /* Adds curve to border corners */
  text-transform: uppercase; /* Make letters uppercase */
  width:150px;
  height:40px;
  /* margin-left:50%;
  margin-top:20px; */
  cursor:pointer;
}
.box button:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 950px) {
  .card {
    width: 500px;
    top: -30px;
    margin: 200px auto;
  }
  
  /* Image on the left side */
  .thumbnail .left{
    display:none;
  }
  h6 {
    display:none;
  }

  /* Right side of the card */
  .right {
    margin-left:20px;
    margin-right: 3px;
    height: 520px;
  }

  #cannotCheckout {
      right:28%;
  }
  
}

@media only screen and (max-width: 600px) {
  .page-title{
    position: absolute;
    color: white;
    top: 55px;
    left: 5%;
  }
}