body {
    background-color: #f0f0ef;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

#bodyComponents {
    margin-left: 10%;
}

/* The text displaying the users location. IE: Home > myPage */
#historyText {
    top:50px;
    position:relative;
    margin:22px;
    margin-bottom:35px;
    margin-left:15%;
}

/* The home text */
#historyText #text1 {
    color:rgb(41, 41, 41);
    font-size:35px;
}

.searchBar {
    /* Main position for the bottom search bar */
    left: 50px;
    bottom: 5px;
}

.searchBar input {
    background: #fff;
    box-sizing: border-box;
    width: 250px;
    height: 20px;
    position: relative;
}

.searchBar img {
    position:relative;
    width: 18px;
    height: 18px;
    right: 25px;
    top:5px;
}

/* The body components contains the display of food items */
#bodyComponents {
    position:relative;
    top: 40px;

}

/* This is all components that are dynamic (the entire sections) */
#bodyComponents .section {
    margin-left:15%;

}

/* The text showing the category of food: For example, Starters, Mains, Drinks, etc.. */
#bodyComponents .block {
    font-weight: normal;
    font-size:27px;
    margin-bottom:0px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:2px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 0.582);
    color: rgb(63, 63, 63);
    width:300px;
    padding-left:40px;
    margin-left:75px;

    /* Cut the border so that only a portion is displayed (lower right) */
    clip-path: polygon(0 0, 0% 0%, 65% 25%, 100% 25%, 100% 100%, 0 100%);
}

#bodyComponents .foodItem {
    cursor: pointer;
    position:relative;
    left:20%;
    width:620px;
    height:130px;
    margin-top:15px;
    /* border: 2px solid white; */
    border: none;
    background-color: white;
    border-radius:10px;
    box-shadow: 1px 1px 3px 3px rgb(233, 233, 233);
}

#bodyComponents .foodItem:hover {
    background-color: rgb(255, 247, 233);
}

#bodyComponents .foodItem img {
    object-fit: cover;
    overflow: hidden;
    width:150px;
    height:110px;
    padding:10px;
}

#bodyComponents #title {
    position:absolute;
    left:180px;
    top:10px;
    font-size:22px;
    color: rgb(29, 29, 29);
    font-weight: normal;
    width:50%;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#bodyComponents #price {
    position:absolute;
    left:88%;
    float:right;
    top:15px;
    font-size:20px;
    color:rgb(255, 101, 40);
    width:50%;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#bodyComponents #location {
    position:absolute;
    left: 180px;
    top: 38px;
    font-size:18px;
    color: grey;
    width:50%;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#bodyComponents #description {
    position:absolute;
    left: 180px;
    top: 70px;
    font-size:15px;
    color: grey;
    width:50%;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#bodyComponents #ingrediants {
    position:absolute;
    top: 90px;
    left: 180px;
    font-size:15px;
    text-overflow:"";
    overflow:hidden;
    color: grey;
    width:50%;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

footer {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    top: 70px;
    padding: 3px;
    font-family: "Gills Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    background-color: rgb(78, 78, 78);
    /* margin-left:10%; */
}

@media only screen and (max-width: 900px) {
    #bodyComponents .foodItem {
        cursor: pointer;
        position:relative;
        left:2%;
        width:600px;
        height:130px;
        margin-top:15px;
    }

    #bodyComponents #price {
        position:absolute;
        left:85%;
        float:right;
        top:15px;
        font-size:20px;
        color:rgb(255, 101, 40);
        width:50%;
        overflow: hidden; /* make sure it hides the content that overflows */
        white-space: nowrap; /* don't break the line */
        text-overflow: ellipsis; /* give the beautiful '...' effect */
    }
}

@media only screen and (max-width: 700px) {
    #historyText {
        margin-left:3%;
    }

    #historyText #text1{
        font-size: 28px;
    }

    #bodyComponents .foodItem {
        cursor: pointer;
        position:relative;
        left:1%;
        width:450px;
        height:130px;
        margin-top:15px;
    }

    #bodyComponents #price {
        position:absolute;
        left:84%;
        float:right;
        top:15px;
        font-size:18px;
        color:rgb(255, 101, 40);
        width:50%;
    }
}