body {
    color: #fff;
    background: #c4b7a6;
    font-family: Verdana, sans-serif;
    margin:0;
}

#mid, #bottom {
    /* Prevent highlight / selections of the arrows */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
    This is the lines that divide the portions of the screens
*/
.dividers{
    opacity:0.3;
}

/*
    slides for coupons
*/

#mid .slide {
    display: none;
}

#mid .slide .coupon {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#mid .slide .coupon img {
    vertical-align: middle;
    width: 100%;
    height: 400px;

}
#mid .slide .coupon:hover img{
  -webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	filter: blur(3px)
}
#mid .slide .coupon .addTo{
  -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	padding: 70px 0 67px;
	left: 50%;
	height: 217px;
	display: block;
	top: 50%;
	overflow: hidden;
	margin-top: -108px;
	margin-left: -104px;
	font: bold 20px/20px 'Open Sans', sans-serif;
	color: #fff;
	width: 217px;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 500px;
}
#mid .slide .coupon .addTo span+span{
  padding-top: 14px;
	font-size: 36px;
	display: block;
}
#mide .slide .coupon .addTo *{
  position: relative;
	z-index: 10;
}
#mid .slide .coupon:hover .addTo{
  color: #4f4f4f;
}
#mid .slide .coupon:hover .addTo strong{
  opacity: 1;
}
#mid .slide .coupon .addTo strong{
  z-index: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-radius: 500px;
	opacity: 0;
	right: 0;
	height: 100%;
	background: url(../overlay.png) 0 0 repeat;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

#mid .rightRotate,
#mid .leftRotate {
  top:135px;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#mid .rightRotate{
  right: 0;
  border-radius: 3px 0 0 3px;
}

#mid .leftRotate {
    left: 0;
    border-radius: 3px 0 0 3px;
}

#mid .rightRotate:hover,
#mid .leftRotate:hover {
    background-color:#808080;
}

#mid::after {
    /* Clears rest of page for no overlap */
    content: "";
    clear: both;
    display: table;
}

/* Having the circles under the coupons look like circles */
#mid .circles {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3e4444;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#mid .circles:hover{
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .leftRotate, .rightRotate {font-size: 11px}
}

#bottom .bottomSearch {
    /* Main position for the bottom search bar */
    left: 50px;
    bottom: 5px;
}

#bottom .bottomSearch input {
    background: #fff;
    box-sizing: border-box;
    width: 250px;
    height: 20px;
    position: relative;
}

#bottom .bottomSearch img {
    position:relative;
    width: 18px;
    height: 18px;
    right: 25px;
    top:5px;
}

#bottom .titleText {
    position: relative;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

#bottom #packages {
    top: 5px;
}

/* Food package pictures user clicks on */
#bottom #packageIcons .col, #bottom #restaurantsNearYouIcons .col, #bottom #Foods .col {
    float: left;
    padding-left: 25px;
    padding-top: 15px;
    flex: 33.33%
}

#bottom #packageIcons .col img, #bottom #restaurantsNearYouIcons .col img, #bottom #Foods .col img {
    width:100px;
    height:100px;
}

#bottom #packageIcons .row::after, #bottom #restaurantsNearYouIcons .row, #bottom #Foods .row {
    /* Render to next line */
    content: "";
    clear: both;
    display: table;
}

/* Centering text */
#bottom #restaurantsNearYouIcons .row .col .centerText,
#bottom #packageIcons .row .col .centerText,
#bottom #Foods .row .col .centerText {
    position:relative;
    text-align:center;
    color:black;
    font-size:12px;
    font-weight:600;
    top:-5px;
}
