body {
    /* color: #fff; */
    background-color: #f0f0ef;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    font-family: Gill Sans, sans-serif;
    margin:0;
}

#mid, #bottom {
    /* Prevent highlight / selections of the arrows */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bottom {
    margin-left: 15%;
    margin-right: 15%;
}

/*
This is the lines that divide the portions of the screens
*/
.mid-bottom-divider {
    position: relative;
    top: 10px;
    opacity:0.3;
}

/*
slides for coupons
*/

#mid .slide {
    left:32%;
    /* display: flex; */
    display: none;
    position: relative;
    margin: auto;
    padding-top:90px;
}

#mid .slide img {
    display: block;
    top: 50%;
    height: auto;
    max-width:500px;

    transition: 0.5s ease;
  	-o-transition: 0.5s ease;
  	-webkit-transition: 0.5s ease;
}

#mid .slide:hover img{
    -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	filter: blur(1px);
    opacity:0.5;
}

#mid .slide:hover .addTo .addOverlay {
    visibility:visible !important; /* !important will override JS removing the hover event */
}

#mid .slide:hover .addTo .addWarning {
    visibility:visible !important; /* !important will override JS removing the hover event */
}

#mid .slide .addTo{
    cursor:pointer;
    z-index:1;
    display:inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 26%;
    margin:auto;
	position: absolute;
    text-align:center;
}

#mid .slide .addTo .addOverlay {
    visibility:hidden;
    /* font: bold 20px/20px 'Open Sans', sans-serif; */
    color:rgb(53, 53, 53);
    font-family: 'Gill Sans', sans-serif;
    font-weight:300;
    padding-top: 90px;
	font-size: 28px;
	/* display: inline-block; */
    z-index:1;
    display:inline-block;
    height: 200px;
    width:480px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:auto;
	position: absolute;
	/* border: 5px solid #fff; */
    text-align:center;

    transform:translateX(-125px);
}

#mid .slide .addTo .addWarning {
    opacity:0;
    visibility:hidden;
    position:relative;
    display:block;
    color:red;
    visibility:hidden;
    text-align:left;
    top:120px;
    left:-250px;

    overflow:auto;
    word-wrap:break-word;
    max-width:250px;
}

#mid .slide:hover .addTo img {
  color: #4f4f4f;
  background-color: white;
}

#mid .rightRotate,
#mid .leftRotate {
  display:inline-block;
  bottom:110px;

  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

#mid .rightRotate{
    left: 35%;
    border-radius: 0 3px 3px 0;
}

#mid .leftRotate {
    right: 15%;
    border-radius: 3px 0 0 3px;
}

#mid .rightRotate:hover,
#mid .leftRotate:hover {
    background-color:#808080;
}

#mid::after {
    /* Clears rest of page for no overlap */
    content: "";
    clear: both;
    display: table;
}

/* Having the circles under the coupons look like circles */
#mid .circles {
  cursor: pointer;
  /* position: relative;
  left: -2%; */
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#mid .circles:hover{
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .leftRotate, .rightRotate {font-size: 11px}
}

#bottom {
    font-family: Gill Sans, sans-serif;
    font-weight: 200;
    font-size: 20px;
}

#bottom #search {
    padding:10px;
    padding-left:0px;
    display:inline-block;
    position:relative;
}

#bottom #search input {
    position: relative;
    left: 20px;
    top: 20px;
    background: rgba(255, 255, 255, 0.685);
    border: none;
    /* box-sizing: border-box; */
    width: 470px;
    height: 25px;
    padding: 5px;
    box-shadow: 1px 1px 3px 3px rgb(221, 220, 220);
    border-radius: 3px;

    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    text-indent: 30px;
    color: rgb(63, 63, 63);
}

#bottom #search img {
    position:relative;
    width: 20px;
    height: 20px;
    right: 455px;
    top:23px;
}
#bottom .famous-food {
    margin-top: 25px;
}

#bottom .packages {
    margin-top: 20px;
}

#bottom .near-you {
    margin-top: 25px;
}

/* The suggested search individual elements */
#bottom #restaurantsFromSearch div{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 20px;
    left: 20px;

    width: 470px;
    height: 25px;
    padding: 5px;
    box-shadow: 1px 1px 3px 3px rgb(221, 220, 220);
    border-radius: 1px;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    text-indent: 30px;
    color: rgb(63, 63, 63);
    overflow:hidden; /* Helps prevent the page from going downwards when you search for restaurants */
}

/* Obtained from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete
   This is the element for the suggested restaurant list
*/
#bottom #restaurantsFromSearch {
    position:absolute;
    border:1px solid rgb(51, 51, 51);
    border:none;
    z-index:1;
    top:83%;
    left:0;
    right:0;
}

#bottom #restaurantsFromSearch div:hover {
    background-color:rgb(255, 203, 124);
}

#bottom .titleText {
    position: relative;
    font-weight: 530;
    font-size: 22px;
    left: 20px;
    padding: 5px;
}

#bottom #packages {
    top: 5px;
}

/* Food package pictures user clicks on */
#bottom #packageIcons .col, #bottom #restaurantsNearYouIcons .col, #bottom #Foods .col {
    float: left;
    padding-left: 25px;
    padding-top: 15px;
    flex: 33.33%;
}

#bottom #packageIcons .col img, #bottom #restaurantsNearYouIcons .col img, #bottom #Foods .col img {
    width: 220px;
    height: 120px;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
}

#bottom #packageIcons .row::after,
#bottom #restaurantsNearYouIcons .row::after,
#bottom #Foods .row::after{
    /* Render to next line */
    content: "";
    clear: both;
    display: table;
}

/* Centering text */
#bottom #restaurantsNearYouIcons .row .col .centerText,
#bottom #packageIcons .row .col .centerText,
#bottom #Foods .row .col .centerText {
    position:relative;
    text-align: center;
    width: 220px;
    color: rgb(77, 77, 77);
    font-size:18px;
    font-weight: 500;
    top: 5px;
}

footer {
    text-align: center;
    position: relative;
    top: 50px;
    padding: 3px;
    font-family: "Gills Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    background-color: rgb(78, 78, 78);
}
