
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  top:485px;

  /* Center image*/
  left:50%;
  transform:translate(-50%, -45%);

  width: 100%; /* Full width */
  height: 900px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#container {
    margin: auto;
    width: 650px;
    color: white;
    position: relative;
    top: 15%;
}

/* Modal Content (image) */
#modal-content {
  float: left;
  width: 260px;
  height: 220px;  
  margin-right: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 4px;
}

#container #menu-details {
  text-align: left;
  /* width: 400px; */
  /* float: right; */
  margin-right: 10px;
  /* font-size: 19px; */
  font-weight: 300;
}

#container #menu-details #foodName {
  font-size: 25px;
  font-weight: 400;
}

#container #menu-details #foodPrice {
  color:rgb(255, 111, 44);
  font-size: 22px;
  font-weight: 600;
  /* position: relative;
  top: -15px; */
}

/* restaurant name */
#container #menu-details #modalTitle, #dishDescription, #dishIngrediants {
  color: rgb(219, 219, 219);
  font-size: 20px;
  /* position: relative;
  top: -10px; */
}

#container #modalTitle {
    cursor:pointer;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  float: left;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: left;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
/* #modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
} */

/* @-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */

#buttons {
  margin: auto;
  width: 65%;
}


#close:hover,
#close:focus {
  color: #bbb;
  cursor: pointer;
}

#container button {
  color: white; /* Text color */
  background-color: transparent; /* Remove background color */
  border: 2px solid white; /* Border thickness, line style, and color */
  border-radius: 5px; /* Adds curve to border corners */
  text-transform: uppercase; /* Make letters uppercase */
  width:150px;
  height:40px;
  margin-left:40px;
  margin-top:20px;
  cursor:pointer;
}
#container button:hover {
  opacity: 0.7;
}

/* #container #addButton {
  border-color:rgb(255, 122, 45);
  color:rgb(255, 122, 45);
  font-weight: bolder;
} */

#container #closeButton {
  border-color:rgb(255, 76, 45);
  color:rgb(255, 76, 45);
  font-weight: bolder;
}

/* The special instructions */
#modal #instructions{
  width: 650px;
  max-width:100%;
  min-width:10%;
  height: 55px;

  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-family: Gill Sans, sans-serif;
  text-indent: .5cm;
}

