body {
  margin: 0;
  padding: 0;
}

.header
{
  height: 100vh;
  background-image: url('../images/logo-welcome-page.png'), url('../images/welcome-page.jpg');
  background-position: 50% 130px, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 300px, cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header #changeFeedback {
    position:absolute;

    background-color: rgba(145, 25, 25, 0.582);
    /* width:350px; */
    /* height:40px; */
    margin-top:80px;
    padding: 5px;
    border-radius: 5px;
    border: solid white 2px; 

    color:rgb(255, 255, 255);
    font-weight:500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    display:none;
}

.header #changeFeedback:after {
    content: '';
    position: absolute;
    margin-left: -10px;
	margin-top: -10px;
	top: 0;
	left: 8%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:white;
	border-top: 0;
}

.welcome_text
{
  color: rgb(255, 255, 255);
  margin-top: 150px;
  font-size:35px;
  letter-spacing:2px;
  text-align: center;
  font-family: Gill Sans, sans-serif;
  font-weight: 400;
}

#search-field
{
  width: 650px;
  height: 55px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  /* font-family: Gill Sans, sans-serif; */
  font-family: "Roboto", sans-serif;
  text-indent: .5cm;
}
.search-btn
{
  height: 55px;
  width: 150px;
  background: #000000bd;
  border: none;
  color: white;
  border-radius: 5px;
  border: 2px solid #ffffff67;
  font-size: 18px;
  /* font-family: Gill Sans, sans-serif; */
  font-family: "Roboto", sans-serif;
}
.search-btn:hover{
  background: #fd6a16;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header
  {
    height: 100vh;
    background-image: url('../images/logo-welcome-page.png'), url('../images/welcome-page.jpg');
    background-position: 50% 150px, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 270px, cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome_text
  {
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size:150%;
    letter-spacing:2px;
    text-align: center;
    font-family: Gill Sans, sans-serif;
    font-weight: 400;
  }
  
  #search-field
  {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-indent: .5cm;
  }
  .search-btn
  {
    height: 50px;
    width: 100px;
    background: #000000bd;
    border: none;
    color: white;
    border-radius: 5px;
    border: 2px solid #ffffff67;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
}