#top {
    /* Prevent highlight / selections of the arrows */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index:99;
}

div #top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(253, 94, 46);
    /* background-image: linear-gradient(rgb(51, 51, 51), black, black, rgb(51, 51, 51)); */
}

/* Editting the logo image */
#top .logo {
    position: absolute;
    width: auto;
    height: 70px;
    left: 15%;
    top: 6px;
    bottom: 10px;
}

/*
This is the address at the top area of the screen
The location image should be placed inside the textfield
*/
#top .topAddress {
    position: relative;
    width: 250px;
}

#top .topAddress input {
    position: relative;
    width: 25%;
    height: 20px;
    padding: 12px;
    border-radius: 4px 0 0 4px;
    text-indent: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    top: 18px;
    /* left: 200px; */
    left: 33%;
    border: solid white 0.5px;
    color: rgb(90, 90, 90);
    background: rgba(255, 255, 255, 0.836);
    /* box-shadow: 1px 1px 3px 3px rgb(255, 255, 255); */
}

#top .topAddress button{
    position: relative;
    width: 6%;
    height: 46px;
    padding: 12px;
    border-radius: 0 4px 4px 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    top: 19px;
    /* left: 350px; */
    left: 32.6%;
    border: solid white 0.5px;
    color: white;
    background-color: transparent;
}

#top .topAddress button:hover{
    background: #f7eae3;
    color: rgb(88, 86, 86);
    cursor: pointer;
}

#top .topAddress img {
    position: relative;
    width: auto;
    height: 30px;
    top: 26px;
    left: 0.1%;
    /* left: 50%; */
}

#top #included #top #shoppingCart {
    /* Always clickable */
    z-index:299;
}

#shoppingCart img {
    position: absolute;
    right: 20%;
    top: 22px;
    height: 35px;
    width: auto;
    z-index:299;
}

#shoppingCart img:hover {
    border-radius: 10px;
    border: solid rgba(255, 233, 161, 0.555) 1px;
    padding: 3px;
}

#invis {
    z-index:-1;
    background-color:black;
    border-width:5px;
    border-style:solid;
    background:border-box;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
}

#cartPopUp {
    z-index:199;
    position:fixed;
    right: 5%;
    top:80px;
    width:300px;

    /*The default height will be 'min-height'*/
    min-height:430px;
    box-sizing:border-box;
    height:auto;

    background-color: rgba(32, 31, 31, 0.726); /* Black w/ opacity */
    border: solid rgb(78, 78, 78,0.9) 1px;
    border-radius: 4px;
    display: none;
    font-family: Gill Sans, san-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size:18px;
    /* font-weight: 200; */
}

#cartPopUp #closeWindow {
    position:relative;
    top: 5px;
    left:270px;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 16px;
}
#cartPopUp #details {
    position:relative;
    font-size: 20px;
    /* font-weight:300; */
    color: white;
    /* font-weight: bolder; */
    top: 5px;
}

#cartPopUp #closeWindow:hover {
    color: rgb(255, 115, 34);
}

#cartPopUp #allOrders {
    /*
        If the user has lots of orders, there will be a scroll bar for the items
        Rather than the items being continually displayed
    */
    overflow-y:auto;
    height:200px;
    margin-top: 10px;
    /* margin-left: 10px; */

    /* Different color so its noticeable*/
    background-color:#f0f0f0;
    color:rgb(48, 48, 48);
    text-indent: 15px;
}

#cartPopUp #allOrders #empty-message {
    position: relative;
    top: 20px;
    left: 25%;
    /* text-align: center; */
}

#totalsSection {
    position:relative;
    width:auto;
    /* height:100px; */
    left: 20px;
    /* padding:20px; */
    top: 10px;
    margin-bottom: 30px;
    display:inline-block;
    color:white;
}

.order {
    position:relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
    top:10px;
}

.cartDividor{
    opacity: 0.5;
    position: relative;
    right: 20px;
    width: 240px;
}


#cartPopUp #makeOrder {
    position: absolute;;
    padding:10px;
    left:31%;
    top: 380px;
    margin-bottom: 10px;
    /* top: 50px; */
    color: white; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 1.5px solid white; /* Border thickness, line style, and color */
    border-radius: 5px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    cursor:pointer;
}

#cartPopUp #makeOrder:hover {
    background-color: rgba(255, 244, 225, 0.877);
    color: rgb(248, 99, 31);
}

.count {
    position:relative;
    left:1%;
}

#addRemove .addToCart {
    margin:2px;
    font-weight:400;
    color:red;
}

#addRemove .removeFromCart {
    margin:2px;
    font-weight:400;
    color:red;
}

/*
This is the lines that divide the portions of the screens
*/
.dividers {
    position: relative;
    top: 60px;
    opacity: 0.2;
}
