﻿#top {
    /* Prevent highlight / selections of the arrows */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /*
    Editting the logo image
*/
#top .logo {
    position: absolute;
    width: auto;
    height: 75px;
    left: 20px;
    top: 10px;
    bottom: 5px;
}

    /*
    This is the address at the top area of the screen
    The location image should be placed inside the textfield
*/
#top .topAddress {
    position: relative;
    width: 250px;
}

#top .topAddress input {
    position: relative;
    width: 450px;
    height: 20px;
    padding: 15px;
    border-radius: 3px;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    top: 20px;
    left: 32%;
    border: none;
    box-shadow: 2px 2px 6px 6px rgb(224, 224, 224);
}

#top .topAddress img {
    position: absolute;
    width: auto;
    height: 30px;
    top: 15px;
    left: 465px;
}

#top #shoppingCart img{
    position: absolute;
    right: 5%;
    top: 30px;
    height: 35px;
    width: auto;
}

/*
    This is the lines that divide the portions of the screens
*/
.dividers {
    position: relative;
    top: 40px;
    opacity: 0.2;
}