﻿#top {
    /* Prevent highlight / selections of the arrows */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-image: linear-gradient(rgb(51, 51, 51), black, black, rgb(51, 51, 51));
}

/* Editting the logo image */
#top .logo {
    position: absolute;
    width: auto;
    height: 75px;
    left: 20px;
    top: 6px;
    bottom: 10px;
}

/*
This is the address at the top area of the screen
The location image should be placed inside the textfield
*/
#top .topAddress {
    position: relative;
    width: 250px;
}

#top .topAddress input {
    position: relative;
    width: 35%;
    height: 20px;
    padding: 12px;
    border-radius: 30px;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    top: 20px;
    left: 180px;
    border: none;
    /* opacity: 0.9; */
    /* background-color: black; */
    box-shadow: 1px 1px 3px 3px rgb(255, 255, 255);
}

#top .topAddress img {
    position: absolute;
    width: auto;
    height: 30px;
    top: 13px;
    left: 190px;
}

.shoppingCart{
    position: absolute;
    right: 5%;
    top: 30px;
    height: 35px;
    width: auto;
}

/*
This is the lines that divide the portions of the screens
*/
.dividers {
    position: relative;
    top: 80px;
    opacity: 0.2;
}